body {
    background-color: palevioletred;
}

#green {

    width: 450px;
    height: 450px;
    top:95px;   
    left: 90px;
    background-color: darkgreen;
}
#red {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 95px;
    left: 90px;
    background-color: darkred;
}
#blue {
    width: 250px;
    height: 250px;
    top: 95px;
    left: 90px;
    background-color: cadetblue;
}
#zafixowany {
    background-color: lime;
    width: 300px;
    height: 25px;
    position: fixed;
    left: 250px;
}